| #{appName}
| 
block header

| 
block content

| 
| --
| Best regards,
| The #{appName} Team
| 
| © #{year} #{appName}. All rights reserved.
| 
block footer
  | Privacy Policy: #{frontendUrl}/privacy
  | Terms of Service: #{frontendUrl}/terms
  | Contact Us: #{frontendUrl}/contact
  | 
  block unsubscribe